$color-grey: rgb(150, 150, 150);
$color-grey-border: rgb(240, 240, 240);
$color-main-blue: #43cfd9;
$color-main-light-blue: #d2f3f0;
$color-main-green: #68d170;
$color-main-light-green: #d4ffdc;
$color-main-middle: #56d0a0;
$color-main-light-middle: #d2ffed;
$color-black: #3a3a3a;
$color-transparent-black: rgba(0, 0, 0, 0.4);
