.comment-list {
  margin-bottom: 2rem;
}

.comment-area {
  padding: 1rem;
  .header {
    display: flex;
    justify-content: space-between;
    .nickname {
      font: {
        weight: 700;
        size: 1.2rem;
      }
    }
    i {
      padding-left: 0.4rem;
      cursor: pointer;
    }
  }
  .date {
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .hide {
    display: none;
  }
  textarea {
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    resize: none;
  }
}
