.hamburger-menu {
  display: none;
}

@media screen and (max-width: 680px) {
  .hamburger-menu {
    display: inline-block;
    transition: all 0.4s;
    position: relative;
    width: 35px;
    height: 30px;
    span {
      background-color: black;
      display: inline-block;
      transition: all 0.4s;
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 13px;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
    .nav-user-control {
      display: none;
    }
  }

  .active {
    span {
      &:nth-of-type(1) {
        transform: translateY(13px) rotate(-45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(-13px) rotate(45deg);
      }
    }
    .nav-user-control {
      background-color: rgb(0, 0, 0, 0.3);
      color: white;
      width: 8rem;
      top: 2.5rem;
      right: 0;
      position: absolute;
      z-index: 20;
      display: flex;
      flex-flow: column nowrap;
      li {
        padding: 1rem;
      }
    }
  }
}
