* {
  box-sizing: border-box;
}

body {
  margin: {
    top: 0;
    left: auto;
    right: auto;
    bottom: 0;
  }
  padding: {
    left: 1rem;
    right: 1rem;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
