@import 'color';

.login-box {
  padding: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.login-input-box {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
  input {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 100%;
    height: 5px;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
  }
}

.signup-select-area {
  margin-top: 1rem;
  span {
    cursor: pointer;
    margin-left: 3px;
    text-decoration: underline;
    text-underline-position: under;
  }
}
//로고
.login-logo-full {
  min-width: 10rem;
  height: 5rem;
  background: {
    size: 93%;
    position: center;
  }
  margin-right: 0.2rem;
}

//버튼
.login-btn {
  background-color: #68d170;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 10px 35%;
  cursor: pointer;
}

.click-btn {
  color: blue;
}

.btn-social-login {
  transition: all 0.2s;
  outline: 0;
  border: 13px solid transparent;
  padding: 0.5rem !important;
  border-radius: 50%;
  margin-top: 15px;
  color: #fff;
  width: 3rem;
  height: 3rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.btn-social-login:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#p-group {
  font-weight: bold;

  font-size: 0.9em;
  line-height: 2em;
  margin: auto;
}
