.user-profile-img {
  min-width: 120px;
  min-height: 180px;
  width: 36vmin;
  height: 46vmin;
  background-color: #e0e0e0;
}

.img {
  min-width: 120px;
  min-height: 180px;
  width: 36vmin;
  height: 46vmin;
  background-color: #e0e0e0;
}
