.search-result {
  padding-top: 1rem;
  margin-bottom: -1rem;

  .result {
    font-weight: 500;
  }

  .no-result {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    margin-bottom: 4rem;
    img {
      width: 15rem;
    }
    @media screen and (max-width: 800px) {
      img {
        width: 30vw;
      }
    }
  }
}
