.signup-box {
  padding: 3rem;
  margin-bottom: 1.5rem;
}

.signup-input-box {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  input {
    margin: {
      top: 0.5rem;
      bottom: 2rem;
    }
  }
}

.input-box {
  position: relative;
  p {
    z-index: 20;
    position: absolute;
    top: 1rem;
    padding: 0.2rem;
    background-color: white;
    border: 1px solid;
    border-radius: 0.5rem;
  }
}

.login-select-area {
  margin-top: 1rem;
  span {
    cursor: pointer;
    margin-left: 3px;
    text-decoration: underline;
    text-underline-position: under;
  }
}
